body {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#page__content {
  min-height: 0;
}

.quote {
  padding: 120px 0;
  text-align: center;
  background: #9f9e9e;
}

.quote__text {
  font-style: italic;
  letter-spacing: 1px;
}
